@using Payer.Entities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/my.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
</head>
<body>

    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="~/Employee/Index"><img src="~/Images/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

                @{
                    var checkLogin = Session["login"] as Login;

                    if (checkLogin == null)
                    {
                        <a href="~/Login/Index" class="nav-link text-primary">Login</a>
                    }
                    else
                    {
                        <a href="~/Login/Logout" class="nav-link text-primary">Logout</a>
                    }

                }


            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                
                @{
                    if (Session["login"] != null)
                    {
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#Employee" aria-expanded="false" aria-controls="ui-basic">
                                    <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                    <span class="menu-title">Employee</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="Employee">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"><a href="~/Employee/Create" class="nav-link"> New Employee</a></li>
                                        <li class="nav-item"><a href="~/Employee/Index" class="nav-link"> All Employees</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#Payroll" aria-expanded="false" aria-controls="ui-basic">
                                    <i class="fas fa-pound-sign fa-lg text-primary" style="margin-right:0.7em"></i>
                                    <span class="menu-title">Payroll</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="Payroll">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"><a href="~/Pay/Create" class="nav-link"> New Pay</a></li>
                                        <li class="nav-item"><a href="~/Pay/Index" class="nav-link"> Payment Records</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    }
                }

            </nav>
            <div class="main-panel">

                <div class="content-wrapper">
                    @RenderBody()
                </div>

            </div>

        </div>
    </div>
    @*<footer class="footer" style="position: absolute;bottom:0">
            <p> &copy; @DateTime.UtcNow.Year - Payer</p>
        </footer>*@


    <script src="~/Scripts/dist/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <script src="~/Scripts/toastr.min.js"></script>
    <!--<script src="~/Scripts/site.js"></script>-->
    
@RenderSection("CheckToastr",false)
</body>
</html>